



<div class="panel-group" id="accordion">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                <a href="/AssociateCommuni/schoolProfile/@Session["SCHL"].ToString()">School Profile</a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/SchoolProfile/DisplaySchoolStaffDetails/@Session["SCHL"].ToString()" target="_blank">Staff Detail</a>
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                @if (Session["IsSchoolUpdated"].ToString() == "0" && Session["IsFormLock"].ToString() == "0")
                {
                <a onclick="val() " href="#">
                    Building/Fire Safety Details
                </a>
                }
                else
                {
                <a href="/AssociateCommuni/BuildingSafty/@Session["SCHL"].ToString()">
                    Building/Fire Safety Details
                </a>
                }

            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                @if (Session["IsSchoolUpdated"].ToString() == "0" && Session["IsFormLock"].ToString() == "0")
                {
                <a onclick="val()" href="#">
                    Rooms Details
                </a>
                }
                else
                {
                <a href="/AssociateCommuni/RoomDetails/@Session["SCHL"].ToString()">
                    Rooms Details
                </a>
                }
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                @if (Session["IsSchoolUpdated"].ToString() == "0" && Session["IsFormLock"].ToString() == "0")
                {
                <a onclick="val()" href="#">
                    Student Count
                </a>
                }
                else
                {
                <a href="/AssociateCommuni/studentCount/@Session["SCHL"].ToString()">
                    Student Count
                </a>
                }
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                @if (Session["IsSchoolUpdated"].ToString() == "0" && Session["IsFormLock"].ToString() == "0")
                {
                <a onclick="val()" href="#">
                    Upload Documents
                </a>
                }
                else
                {
                <a href="/AssociateCommuni/UploadDocument/@Session["SCHL"].ToString()">
                    Upload Documents
                </a>
                }
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                @if (Session["IsSchoolUpdated"].ToString() == "0" && Session["IsFormLock"].ToString() == "0")
                {
                <a onclick="val()" href="#">
                    School Infrastructure
                </a>
                }
                else
                {
                <a href="/AssociateCommuni/SchoolInfra/@Session["SCHL"].ToString()">
                    School Infrastructure
                </a>
                }
            </h4>
        </div>
    </div>


    @if (Session["IsSchoolUpdated"].ToString() == "0" && Session["IsFormLock"].ToString() == "0")
    {

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a onclick="val()" href="#">
                    Rough Print
                </a>
            </h4>
        </div>
    </div>


    }
    else
    {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                <a href="/AssociateCommuni/PrintForm/@Session["SCHL"].ToString()">
                    Rough Print
                </a>
            </h4>
        </div>
    </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a id="calculateFeeLink" href="/School/CalculateFeeAssociate" target="_blank">Calculate Fee & Final Submit</a>
            </h4>
        </div>
    </div>

    @if (Session["IsSchoolUpdated"].ToString() == "1" && Session["IsFormLock"].ToString() == "0")
    {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">

                <a href="/AssociateCommuni/FinalPrintForm/@Session["SCHL"].ToString()">
                    Lock and Submit Form
                </a>
            </h4>
        </div>
    </div>
    }
    else if (Session["IsFormLock"].ToString() == "1")
    {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="/AssociateCommuni/PrintForm/@Session["SCHL"].ToString()">
                    Final Print Form
                </a>
            </h4>
        </div>
    </div>
    }




    <script>
        function val() {
            if (@Session["IsSchoolUpdated"].ToString() == "0") {
                alert("Please Update School Profile");
                window.location.href = '@Url.Action("SchoolProfile", "AssociateCommuni", @Session["SCHL"].ToString())';
            }
                            else {
                alert("Form Is Locked");
                window.location.href = '@Url.Action("SchoolProfile", "AssociateCommuni", @Session["SCHL"].ToString())';
            }

        }

        document.getElementById("calculateFeeLink").addEventListener("click", function (event) {
            event.preventDefault();

            ///const appNo = HttpContext.Current.Session["SCHL"].ToString();
            const appNo = "2";
            const url = `/School/CalculateFeeAssociate?Id=${appNo}`;
            window.location.href = url;
        });
    </script>




</div>

@*@{ if (ViewData["result"] != null)
    {
        if (ViewData["result"].ToString() != "")
        {
            if (ViewData["result"].ToString() == "1")
            {
<script type="text/javascript" language="javascript">
    alert("Submit SuccessFully..");
    window.location.href = '@Url.Action("SchoolProfile", "AssociateCommuni")';
</script>
            }

            else
            {
<script type="text/javascript" language="javascript">
    alert("Submit Failure, Please Try Again");
                                    //alert('ViewBag.Mesaage');
</script>
            }

        }
    }
}*@



